/*==================================================
        TOPBAR
==================================================*/

.topbar{

    position:fixed;

    top:0;

    left:280px;

    right:0;

    height:72px;

    background:#FDF8F2;

    border-bottom:1px solid #E9DDCF;

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:0 28px;

    z-index:900;

    transition:.3s;

}

.sidebar.collapsed ~ .main{

    margin-left:90px;

}

.sidebar.collapsed ~ .topbar{

    left:90px;

}

/*==============================*/

.topbar-left{

    display:flex;

    align-items:center;

    gap:18px;

}

.toggle-btn{

    width:42px;

    height:42px;

    border:none;

    background:#ffffff;

    border-radius:10px;

    cursor:pointer;

}

.page-info h2{

    font-size:22px;

    color:#5B3A29;

}

.page-info p{

    font-size:13px;

    color:#A07D58;

}

/*==============================*/

.topbar-right{

    display:flex;

    align-items:center;

    gap:18px;

}

/*==============================*/

.search-box{

    width:330px;

    height:42px;

    background:white;

    border-radius:10px;

    display:flex;

    align-items:center;

    padding:0 14px;

    border:1px solid #E7D8C6;

}

.search-box input{

    flex:1;

    border:none;

    outline:none;

    background:none;

    margin-left:10px;

}

/*==============================*/

.icon-btn{

    width:42px;

    height:42px;

    border:none;

    background:white;

    border-radius:10px;

    cursor:pointer;

}

/*==============================*/

.profile{

    display:flex;

    align-items:center;

    gap:12px;

    cursor:pointer;

}

.avatar{

    width:42px;

    height:42px;

    border-radius:50%;

    background:#D97706;

    color:white;

    display:flex;

    justify-content:center;

    align-items:center;

    font-weight:700;

}

.profile-info h4{

    font-size:14px;

}

.profile-info span{

    font-size:12px;

    color:#777;

}
